

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.headtitle {
	color: white;
	font-family: verdana, sans-serif;
	margin-top: 5%;
}

.head_logo {
	color: white; 
	font-family: "courier new", "Lucida Console", Monospace;
	font-size: 20px;
	margin-left: 35%;

	-webkit-animation: myfirst 5s; /*chrome safari opera*/
	animation: myfirst 5s;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;


}

/*chrome safari opera*/
@-webkit-keyframes myfirst {
	0% {color : #0066CC; }
	25% {color: #BFD8F2;}
	50% {color: #0066CC;}
	75% {color: #BFD8F2;}
	100% {color : #0066CC; }
}

/*chrome safari opera*/
@keyframes myfirst {
		0% {color : #0066CC; }
	25% {color: #BFD8F2;}
	50% {color: #0066CC;}
	75% {color: #BFD8F2;}
	100% {color : #0066CC; }
}


#value {
	height: 70px;
	text-align: right;
	font-size: 30px;


}

#blinkingCursor {
	font-size: 30px;
	padding: 0px;
	margin: 0px;
}

.custom-table-value {
	margin-top: 40px;
	margin-left:0px;

}



.custom-value {
	margin-bottom: -2px;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
	padding-top: 15px;

	border: 1px solid white;
	border-collapse: collapse;
	background-color: #162B40;
}


.img-custom {
}

.custom-body {
	background: url("../img/3d-background.png") no-repeat center center;
	
	background-size: cover; 
}

.custom-table {
	border: 1px solid white;
}

#usernamebox {
	text-align: center;
	margin-top: 20px;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
	
}

.custom-intro {
	margin-top: 20px;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
}



.custom-name {
	text-align: right;
}

.custom-name-btn {
	margin-left: 5%;
}

.custom-hiUser {
	font-size: 20px;
}

#history {
	margin-left: 30%;
}

#history p {

	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
}







.custom-footer {
	margin-left:40%;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
}


























