

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.headtitle {
	color: white;
	font-family: verdana, sans-serif;
	margin-top: 5%;
}


#value {
	height: 70px;
	text-align: right;
	font-size: 30px;

}


.img-custom {
}








