

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.headtitle {
	color: white;
	font-family: verdana, sans-serif;
	margin-top: 5%;
}

.head_logo {
	color: white; 
	font-family: "courier new", "Lucida Console", Monospace;
	font-size: 20px;
	margin-left: 30%;

	-webkit-animation: myfirst 5s; /*chrome safari opera*/
	animation: myfirst 5s;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;


}

/*chrome safari opera*/
@-webkit-keyframes myfirst {
	0% {color : #0066CC; }
	25% {color: #BFD8F2;}
	50% {color: #0066CC;}
	75% {color: #BFD8F2;}
	100% {color : #0066CC; }
}

/*chrome safari opera*/
@keyframes myfirst {
		0% {color : #0066CC; }
	25% {color: #BFD8F2;}
	50% {color: #0066CC;}
	75% {color: #BFD8F2;}
	100% {color : #0066CC; }
}


#value {
	height: 70px;
	text-align: right;
	font-size: 30px;


}

#blinkingCursor {
	font-size: 35px;
	padding: 0px;
	

	position: absolute;
	top: 11%;
	left: 93%;
	z-index: 2;
	


	color: white;

	-webkit-animation: blinking 2s;
	animation: blinking 2s;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

}

@media screen and (max-width: 480px) {
	#blinkingCursor {
		top: 4%;

	}
}

/*chrome safari opera*/
@-webkit-keyframes blinking {
	0% {color : white; }
	25% {color: #162B40;}
	50% {color: white;}
	75% {color: #162B40;}
	100% {color : white; }
}

/*chrome safari opera*/
@keyframes blinking {
	0% {color : white; }
	25% {color: #162B40;}
	50% {color: white;}
	75% {color: #162B40;}
	100% {color : white; }
}



.custom-table-value {
	margin-top: 40px;
	margin-left:0px;

}



.custom-value {
	margin-bottom: -2px;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
	padding-top: 15px;

	border: 1px solid white;
	border-collapse: collapse;
	background-color: #162B40;
	z-index: -1;
}


.img-custom {
}

.custom-body {
	background: url("../img/3d-background.png") no-repeat center center;
	
	background-size: cover; 
}

.custom-table {
	width: 100%;
}

#usernamebox {
	text-align: center;
	margin-top: 20px;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
	
}

.custom-intro {
	margin-top: 20px;
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
}



.custom-name {
	text-align: right;
}

.custom-name-btn {
	margin-left: 5%;
}

.custom-hiUser {
	font-size: 20px;
}

#history {
	margin-left: 30%;
	margin-top: 10%;
}

#history p {

	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
}







#custom-footer {
	position: relative;
	left: 120%;
	margin-top: 12%;

	padding-left: 1%;
	padding-top: 1%;
	width: 41%;
	

	background-color: #000066;

	border: 2px dashed green;
}

#custom-p {
	font-family: "courier new", "Lucida Console", Monospace;
	color: white;
	

}




#test {
	color: white;
	margin-left: 10%;
}





















